.card__container {
    position: relative;
    display: grid;
    grid-template-columns: 80% 20%;
    grid-template-rows: 1.8rem 1.8rem 1.8rem 1.8rem;
    padding: 8px;
}
.card__bank {
    letter-spacing: 0.001rem;
    font-size: 1rem;
}
.card__bank__small {
    letter-spacing: 0.001rem;
    font-size: 0.8rem;
}
.card__pay-plat,
.card__type,
.card__buttons__copy {
    text-align: end;
}
.card__type {
    padding-top: 6px;
}
.card__button__copy {
    border: none;
    background-color: transparent;
    color: rgb(117, 177, 218);
    font-style: italic;
    font-size: 0.8rem;
    cursor: pointer;
}

.card__number {
    font-size: 1rem;
    letter-spacing: 0.1rem;
    display: flex;
    justify-content: space-between;
}

.stars {
    cursor: pointer;
}

.card__pay-plat__img {
    position: absolute;
    top: -2px;
    right: 5px;
    width: 3.2em;
    height: auto;
}